<!DOCTYPE html>
<html>
    <head>
        <title>WebSocket Art | Home</title>
    </head>
    <body style="background-color:#46484a;">
        
        <h1><font style="color:white;">WebSocket Art</font></h1>
        <h3><font style="color:white;">A little project that allows users from all over the world to create art together.</font></h3>
        <h3><font style="color:white;">I have no intention of deploying this onto an actual website. It will stay as a project server.</font></h3>
        <h2><font style="color:white;">The door to the drawing room is <a href="../drawing_room"><font style="color:red;">here!</font></a></font></h3>
    </body>
</html>